#wrap {
	width:1200px;
	height:600px;
	margin:auto;
}

header {
	height:70px;
	
}

footer {
	height:40px;
}

.login-box {
	width:400px;
	height:800px;
}

.category {
	width:100px;
	height:80px;
	font-size:30px;
}

#selectBox {
	width:85px;
}